$color-accent: #ffcdb5;
$color-button-accent: #ffe1b5;
$color-accent-dark: darken($color-accent, 10%);
$color-warning: #5883ad;
$color-dark: #000000;
$color-gray: #cccccc;
$color-light: #eeeeee;
$color-border: #333333;
